# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\School\Concordia - Master of Applied Computer Science\COMP 6721 - Intro to AI\Assignment B - Pacman\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
